table {
    width: 100%;
    border: 1px solid black ;
}
.sortirovka{
    margin-bottom: 5px;
}
.filter {
    margin-bottom: 5px;
}
table tbody tr td {
    text-align: center;
    border: 1px solid black ;
}